:root {
  --clear: rgba(0, 0, 0, 0);
  --grey: #7f9aa7;
  --dark-grey: #333;
  --darker-grey: rgb(22, 22, 22);
  --white: #ffffff;
  --off-white: #cfcfcf;
  --black: #000000;
  --dark-blue: #001044;
}

*, *::before, *::after {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--bg);
}

.wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
}

header {
  cursor: url(./images/cursor_arrow.png) 4 4, auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  z-index: -1;
}

section, footer {
  cursor: url(./images/cursor_auto.png) 4 4, auto;
}

.background {
  transform: translateZ(-10px) scale(2);
}

.foreground {
  transform: translateZ(-5px) scale(1.5);
}

.background,
.foreground {
  position: absolute;
  height: 103%;
  width: 101%;
  object-fit: cover;
  z-index: -1;
}

.title {
  font-size: 3rem;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 5px black;
  text-align: center;
  transform: translateY(-10rem);
}

section {
  font-size: 1rem;
  background-color: var(--sectionBg);
  color: var(--fontColor);
}


* {
  color: var(--fontColor);
  font-family: helvetica;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  background: #111;
}

::-webkit-scrollbar-thumb {
  background-color: #46607a;
  border: solid #111;
  border-width: 0 2px;
}

/* Nav Buttons */

.light-theme {
  --bg: var(--dark-blue);
  --sectionBg: var(--dark-grey);
  --aboutBg: var(--darker-grey);
  --fontColor: var(--white);
  --socialBg: var(--clear);
  --btnBg: var(--black);
  --btnFontColor: var(--white);
  --btnBdr: var(--white);
}

.dark-theme {
  --bg: var(--dark-blue);
  --sectionBg: var(--white);
  --aboutBg: var(--off-white);
  --fontColor: var(--black);
  --socialBg: var(--black);
  --btnBg: var(--white);
  --btnFontColor: var(--black);
  --btnBdr: var(--black);
}

.nav {
  text-align: center;
  background-image: repeating-linear-gradient(180deg, var(--btnBg), #444, var(--btnBg) 5px);
  position: sticky;
  top: 0%;
  z-index: 9;
}

.nav_grid {
  display: grid;
  grid-template-rows: auto max-content;
}

.nav_btns {
  width: 100%;
  max-width: 720px;
  display: flex;
  justify-content: space-evenly;
}

@media (min-width: 721px) {

}

@media (max-width: 720px) {
  .nav_btns {
    flex-direction: row;
  }
}

.btn:hover { border: 1px solid var(--btnBdr); }

.btn {
  height: 3em;
  width: 5em;
  border-radius: 10%;
  border: none;
  color: var(--btnFontColor);
  background-color: var(--btnBg);
  cursor: url(./images/cursor_active.png) 4 4, auto;
}

/* About Section */

.about {
  background-color: var(--aboutBg);
  padding: 4em 1em 6em;
}

/*
.about_intro {}
*/

.image {
  opacity: 0.5;
}

@media (min-width: 721px) {
  .image {
    width: 25em;
    transform: translateY(10%);
  }
}

@media (max-width: 720px) {
  .image {
    padding-top: 4em;
    width: 100%;
  }
}

.career_grid {
  margin-top: 4em;
}

@media (min-width: 721px) {
  .career_grid, .about_grid {
    display: grid;
    grid-template-columns: auto max-content;
  }
}

/*
.career_intro {}
*/

.career_elements {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

@media (min-width: 721px) {
  .career_elements {
    border-left: 1px solid #69c;
    padding-left: 2em;
    margin: 1em 0 0 2em;
  }
  .elements_left {
    padding-right: 1em;
  }
}

@media (max-width: 720px) {
  .career_elements {
    border-top: 1px solid #69c;
    padding-top: 2em;
    margin-top: 2em;
  }
}

.opacity {
  opacity: 0.6;
}

/* Connect Section */

.content {
  margin: auto;
  max-width: 720px;
}

.contact {
  position: relative;
  background-color: var(--sectionBg);
  padding: 4em 1em 6em;
}

@media (min-width: 721px) {
  .contact_grid {
      display: grid;
      grid-template-columns: auto max-content;
  }
}

.contact fieldset {
  all: unset;
  position: relative;
  transition: opacity 0.3s;
}

.contact_item {
  display: inline-block;
  position: relative;
  width: 100%;
  margin-top: 1em;
}

.contact_input {
  display: block;
  width: 100%;
  font-size: inherit;
  font-family: inherit;
  border: 1px solid #69c;
  border-radius: 5px;
  padding: 0.5em;
  background: #0005;
  color: rgb(255, 214, 180);
  transition: all 0.3s;
  outline-offset: 2px;
}

.contact_input:focus {
  outline: 1px solid #eee;
}

.contact_input:not(:placeholder-shown), .contact_input:focus {
  margin-top: 1em;
}

.contact_input:not(:placeholder-shown) ~ label, .contact_input:focus ~ label {
  font-size: 0.8em;
  top: -0.2em;
  left: 0;
  color: #69c;
}

.contact textarea {
  height: 7em;
  resize: vertical;
  min-height: 3em;
}

.contact_label {
  position: absolute;
  font-size: 0.9em;
  top: 0.8em;
  left: 0.6em;
  line-height: 1;
  pointer-events: none;
  transition: all 0.3s;
}

.contact_label > span {
  color: #c69;
}

.contact_buttons {
  text-align: right;
  padding-top: 0.5em;
}

.contact_buttons > button:nth-child(1) {
  margin-right: 0.5em;
}

.contact_buttons > button {
  background: #0005;
  border: 1px solid #69c;
  border-radius: 25px;
  padding: 0.5em 2em;
  outline-offset: 2px;
  transition: all 0.25s;
}

.contact_buttons > button:nth-child(1) {
  margin-right: 0.5em;
}

.contact_buttons > button:not(:disabled):nth-child(1):hover {
  background-color: #c96;
  opacity: 0.8;
  transition: opacity 0.2s;
  cursor: url(./images/cursor_pointer2.png) 4 4, auto;
}

.contact_buttons > button:not(:disabled):nth-child(1):hover:hover, .contact_buttons > button:not(:disabled):nth-child(1):hover:checked, .contact_buttons > button:not(:disabled):nth-child(1):hover:checked + label {
  opacity: 1;
}

.contact_buttons > button:not(:disabled):nth-child(2):hover {
  background-color: #6c9;
  opacity: 0.8;
  transition: opacity 0.2s;
  cursor: url(./images/cursor_pointer.png) 4 4, auto;
}

.contact_buttons > button:not(:disabled):nth-child(2):hover:hover, .contact_buttons > button:not(:disabled):nth-child(2):hover:checked, .contact_buttons > button:not(:disabled):nth-child(2):hover:checked + label {
  opacity: 1;
}

button, select {
  font-size: inherit;
  font-family: inherit;
  background: none;
  border: none;
  color: inherit;
}

.contact_msg {
  text-align: center;
  color: #111;
}

.contact_msg.ok {
  padding: 0.5em;
  margin: 0.5em 0;
  background-color: #6c9;
}

.contact_msg.error {
  padding: 0.5em;
  margin: 0.5em 0;
  background-color: #c69;
}

.hidden {
  display: none;
}

.contact_social {
  display: flex;
  justify-content: center;
}

@media (min-width: 721px) {
  .contact_social {
      flex-direction: column;
      border-left: 1px solid #69c;
      padding-left: 2em;
      margin: 1em 0 0 2em;
  }
}

@media (max-width: 720px) {
  .contact_social {
      flex-direction: row;
      border-top: 1px solid #69c;
      padding-top: 2em;
      margin-top: 2em;
  }
}

.contact_socialIcon {
  display: block;
  background-color: var(--socialBg);
  width: 2.75em;
  height: 2.75em;
  transition: all 0.25s;
  border-radius: 5px;
  margin: 0;
  outline-offset: 2px;
  opacity: 0.8;
  transition: opacity 0.2s;
  cursor: url(./images/cursor_pointer.png) 4 4, auto;
}

.contact_socialIcon:hover, .contact_socialIcon:checked, .contact_socialIcon:checked + label {
  opacity: 1;
}

.contact_socialIcon:active {
  cursor: url(./images/cursor_active.png) 4 4, auto;
}  

.contact_socialIcon img {
  width: 100%;
  height: 100%;
}

.contact_socialIcon:focus {
  outline: 1px solid rgb(0, 158, 231);
}

@media (max-width: 720px) {
  .contact_socialIcon:not(:nth-child(1)) {
      margin-left: 1em;
  }
}

@media (min-width: 721px) {
  .contact_socialIcon:not(:nth-child(1)) {
      margin-top: 1em;
  }
}

/* Footer Section */

footer {
  display: flex;
  background-color: rgb(0, 0, 0);
  font-size: 1em;
  padding: 1em;
  align-items: center;
  text-align: left;
}

.footer_CR {
  color: white;
}

footer svg {
  margin: 0 0.1em 0 0;
  width: 1em;
  fill: #5e5e5e;
}

.dnd-btn {
  height: 3em;
  width: 5em;
  border-radius: 10%;
  border: none;
  color: var(--dark-grey);
  background-color: var(--off-white);
  cursor: pointer;
}

.dnd-btn:hover {
  background-color: #a7a7a7;
}